<!doctype html>
<html>
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TFV5JV8');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Ultra" rel="stylesheet">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>L'Observatoire de l'Influence créé par WOÔ l'atelier des Influences</title>
    <meta name="description" content="Un organisme dédié à l’étude approfondie des communautés ainsi que des usages sur les réseaux sociaux pour décrypter et mieux comprendre les comportements des socionautes"/>

    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://www.observatoiredelinfluence.fr"/>
    <meta property="og:title" content="L'Observatoire de l'Influence créé par WOÔ l'atelier des Influences"/>
    <meta property="og:image" content="https://raw.githubusercontent.com/Poulpes/observatoire-landing/master/source/images/fb-img.png"/>
    <meta property="og:description" content="Un organisme dédié à l’étude approfondie des communautés ainsi que des usages sur les réseaux sociaux pour décrypter et mieux comprendre les comportements des socionautes"/>
    <meta property="fb:app_id"/>

    <meta name="google-site-verification" content="FVe2JTd2viyC5KZkFshtUqsQJxCwylAGgfhhOr9DgDA" />

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TFV5JV8"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= partial 'nav' %>
    <%= yield %>
  </body>
</html>
