---
title: Ôbservatoire de l'influence
---

<div class="home">
  <div>
    <%= image_tag 'observatoire.png' %>
    <h1>Ôbservatoire de l’Influence</h1>
    <p>
      En Septembre 2018, <a href="http://www.woo.paris/" target="_blank">WOÔ, l’Atelier des influences</a> a lancé son <span class="text-bold">Ôbservatoire&nbsp;de&nbsp;l'Influence</span> : un organisme dédié à l’étude approfondie des communautés ainsi que des usages sur les réseaux sociaux pour décrypter et mieux comprendre les comportements des socionautes.
    </p>
    <div class="text-center arrow-container">
      <a href="#description"><i class="fa fa-chevron-down"></i></a>
    </div>
  </div>
</div>
<div id="description" class="bg-dark-green">
  <div class="box">
    A l'heure où le marketing d'influence chamboule les codes du digital, WOÔ s’est associé à une équipe de chercheurs, son studio de développement <a href="http://www.poulpe.co/" target="_blank">Poulpe</a>, des scientifiques et plusieurs laboratoires d'études et tendances. <br>
    L’objectif est de développer une vision prospective appuyée par des données quantifiables.

  </div>
</div>

<div id="articles" class="articles">
  <h2>Retrouvez les derniers articles de notre Ôbservatoire</h2>
  <a href='http://www.strategies.fr/blogs-opinions/idees-tribunes/4027952W/vive-les-micro-et-nano-influenceurs-.html' class="article right" target="_blank" style="color: #BBD6CD">
    <div>
      <h3>Vive les micro et nano-influenceurs&nbsp;!</h3>
      <p>lire l'article</p>
    </div>
    <%= image_tag 'strategies.png' %>
  </a>

  <a href='https://www.petitweb.fr/pub-et-medias/comment-arbitrer-entre-les-stories-et-le-feed-dinstagram/' class="article left" target="_blank" style="color: #43676C;">
    <%= image_tag 'petit-web.png' %>
    <div>
      <h3>Comment arbitrer entre les stories et le feed d’Instagram</h3>
      <p>lire l'article</p>
    </div>
  </a>

  <a href='https://www.influenth.com/reach-influenceurs-algorithme-instagram/' class="article right" target="_blank" style="color: #9EC8A9">
    <div>
      <h3>Influenceurs : est-ce la taille qui compte&nbsp;?</h3>
      <p>lire l'article</p>
    </div>
    <%= image_tag 'influenth.png' %>
  </a>
  <a href='https://medium.com/@agencepoulpe/le-marketing-dinfluence-a-son-bar%C3%B4m%C3%A8tre-1caa520c7d50' class="article left" target="_blank" style="color: #D9685D">
    <%= image_tag 'medium.png' %>
    <div>
      <h3>Le marketing d’influence a son Barômètre</h3>
      <p>lire l'article</p>
    </div>
  </a>
  <a href='https://siecledigital.fr/2018/10/15/micro-influenceurs-likes-instagram/' class="article right" target="_blank" style="color: #B8DCD2">
    <div>
      <h3>Micro-influenceurs : tous les likes ne se valent pas sur Instagram&nbsp;!</h3>
      <p>lire l'article</p>
    </div>
    <%= image_tag 'siecledigital.png' %>
  </a>

  <a href='https://theconversation.com/summer-ou-winter-le-hashtag-comme-facteur-du-taux-dengagement-sur-instagram-100485' class="article left" target="_blank" style="color: #43676C;">
    <%= image_tag 'the-conversation.png' %>
    <div>
      <h3>Le hashtag comme facteur du taux d’engagement sur Instagram</h3>
      <p>lire l'article</p>
    </div>
  </a>



</div>

<div id="barometre" class="barometre">
  <div class="box">
    <span class="text-bold">Découvrez également notre Barômètre de l’Influence</span> : un algorithme consacré à l’analyse en direct des données liées à l’influence.
    Chaque jour, nous calculons en temps réel des milliers de statistiques issues de nos 22,000 influenceurs YOÔ : <a href="https://www.barometredelinfluence.fr/" target="_blank">www.barometredelinfluence.fr</a></p>
  </div>
</div>

<div class="footer">
  <div>
    <div class="social-icon">
      <a href="mailto:hello@woo.paris">
        <i class="fa fa-envelope"></i>
      </a>
    </div>
    <div class="social-icon">
      <a href="https://www.instagram.com/woo.paris/">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
    <div class="social-icon">
      <a href="https://www.facebook.com/insidewoo/">
        <i class="fa fa-facebook"></i>
      </a>
    </div>
  </div>
</div>
