<div class="nav">
  <div class="nav-container">
    <div class="nav-item">
      <a href="#description">
        <div class="nav-icon border-white">
          <%= inline_svg('o') %>
        </div>
      </a>
      <div class="nav-text">
        L'observatoire
      </div>
    </div>
    <div class="nav-item">
      <a href="#articles">
        <div class="nav-icon border-white">
          <%= inline_svg('article') %>
        </div>
      </a>
      <div class="nav-text">
        Les&nbsp;articles
      </div>
    </div>
    <div class="nav-item">
      <a href="#barometre">
        <div class="nav-icon border-white">
          <%= inline_svg('barometre') %>
        </div>
      </a>
      <div class="nav-text">
        Le&nbsp;barômètre&nbsp;de&nbsp;l'influence
      </div>
    </div>
    <div class="nav-item">
      <a href="http://www.woo.paris" target='_blank'>
        <div class="nav-icon">
          <%= inline_svg('woo') %>
        </div>  
      </a>
      <div class="nav-text">
        WOÔ
      </div>
    </div>
    <div class="nav-item">
      <a href="http://www.poulpe.co" target="_blank">
        <div class="nav-icon">
          <%= inline_svg('poulpe') %>
        </div>
      </a>
      <div class="nav-text">
        Poulpe
      </div>
    </div>
  </div>

</div>


